.bestseller{
	width: 500px;
	height: 0px;
	position: absolute;
}
.bestseller__cards {
	position: relative;
	top: 585px;
	left: 46px;
	display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  
}
.img1{
	position: relative;
    top: 389px;
    left: 16px;
    width: 191px;
    height: 194px;
}
.img2{
	position: relative;
    top: 192px;
    left: 179px;
    width: 191px;
    height: 194px;
}
.img3{
	position: relative;
    top: 1px;
    left: 347px;
    width: 191px;
    height: 194px;
}