.card {
	
	grid-template-columns: 1fr 1fr 1fr; 
	gap:10px;
	padding: 10px 13px;
	
}
.card__2{
	z-index: 10;
	border-radius: 30px;
	opacity: 1;
	width: 130px;
	height: 87px;
	background: rgba(228, 228, 228, 1);
	align-content: flex-end;
}
.line{
	position: absolute;
	width: 545px;
	height:1px;
	top: 545px;
	border-bottom:double black;
    padding-bottom:1px;
}

.card__rating {
	z-index: 10;
	position: relative;
	left: 12px;
	top: 19px;
	width: 12px;
	height: 12px;
	text-align: center;
	display: flex;
	align-items: center;
	gap: 1px;

}
.card__title{
	z-index: 10;
	position: relative;
	top: 28px;
	left: 12px;
	width: 65px;
font-family: var(--font-accent);
font-weight: 700;
font-style: Bold;
font-size: 9.5px;
line-height: 9px;
letter-spacing: 0%;
text-transform: uppercase;
}
.card__price{
	z-index: 10;
	position: relative;
	left :90px;
	top: 15px;
	font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 9px;
line-height: 12px;
letter-spacing: 0%;
text-transform: uppercase;

}

.card__link{
	z-index: 10;
	position: relative;
	left: 110px;
	top: 10px;
	display: block;
	width: 27px;
height: 27px;
border-radius: 6px;
opacity: 1;
background: rgba(30, 30, 30, 1);
align-content: center;
padding-left: 6px;
	& img{
		width: 14px;
		height: 12px;

	}
	&:hover{
		background: rgb(134, 132, 132);
		transition:all .1s ease-in;
	}
}





